# Ignore Configuration Information
config/creds.py

# Ignore all cache files
__pycache__
.pytest_cache/

# Ignore personal notes
Notes.txt

# Ignore extra files for testing
/extras/files/textFile.txt

# Ignore log files
**/*.log