# Ignore Configuration Information
config/creds.py

# Ignore all cache files
__pycache__
.pytest_cache/

# Ignore python compile files
*.pyc

# Ignore personal notes
Notes.txt

# Ignore log files
**/*.log

# Ignore vs code files
.vscode
